<nav>
  <a href="/">Início</a>
  <% if (typeof user !== 'undefined' && user) { %>
    | <a href="/personagens">Personagens</a>
    | <a href="/logout">Sair</a>
  <% } else { %>
    | <a href="/login">Entrar</a>
  <% } %>
</nav>
<p class="lang-note">🇬🇧 <a href="https://github.com/olddragoneditora/olddragon-api-nodejs-demo/blob/main/README.en.md">Documentation in English: README.en.md</a></p>
